{% extends "main_page2.html" %}
{% block title %}Articles{% endblock %}
{% block styles_i %}
	body{
		background-image: url("/static/images/image_hulk.jpg"); 
		background-size: 100%;
	}

	.articles__content{
		background-color:rgba(115, 115, 115, 0.8);
		margin:0 auto;
		text-align:center;
		max-width:700px;
		border:2px black solid;
		color:white;

	}
	.update_delete{
		padding:10px;
		background: white;
		font-size:20px;
		float:right;
		text-decoration:none;
		margin:5px;
		border:2px black solid;
	}
	.update_delete:hover{
		font-size:23px;
	}
	.main__content{
		font-size:20px;
	}


{% endblock%}
{% block logo %}Article Details{% endblock %}

{% block nav_links%}
	<li><a href="{{ url_for('main_page') }}">Main Page</a></li>
	<li><a href="">Something..</a></li>
	<li><a href="">Something...</a></li>
	<li><a href="">Something....</a></li>
{% endblock %}

{% block articles %}
		
		<div class="articles__content">
			<div class="main__content">
			<h1>{{ article.title }}</h1>
			<p>{{ article.text }}</p>
			<p style="float:left;">{{ article.date.date() }}</p>
			</div>
			<p><strong><a class="update_delete" href="/articles/{{ article.id }}/update">UPDATE</a></strong></p>
			<p><strong><a class="update_delete" href="/articles/{{ article.id }}/delete">DELETE</a></strong></p>
		</div>

{% endblock %}