{% extends "main_page2.html" %}
{% block title %}Articles{% endblock %}
{% block styles_i %}
	body{
		background-image: url("/static/images/image_moonman.jpg"); 
		background-size: 100%;
	}

	.articles__content{
		background-color:rgba(115, 115, 115, 0.8);
		margin:0 auto;
		text-align:center;
		max-width:500px;
		border:2px black solid;
		color:white;
		margin-bottom:10px;
		padding-bottom:15px;
	}
	.main__content{
		font-size:20px;
	}
	.more{
		padding:5px;
		background: white;
		font-size:20px;
		text-decoration:none;
		border:2px black solid;
	}
	.more:hover{
		font-size:25px;
	}
	#logo_link{
		font-size:23px;
		text-decoration:none;
		color:orange
	}
	#logo_link:hover{
		font-size:24px;
		color:white;
	}
	#div_logo_link{
		margin:0 auto;
	}
	.switch_but{
		background:white;
		text-align:center;
		width:100px;
		float:right;
		padding:5px;
		margin-bottom:10px;
	}
	.switch_but a{
		cursor:pointer;
		color:black;
		text-decoration:none;
	}
{% endblock%}
{% block logo %}
Articles
{% endblock %}
{% block main_link %}
<div id="div_logo_link">
<a id="logo_link" href="{{ url_for('create_article') }}">Create Article</a>
</div>
{% endblock %}

{% block nav_links%}
	<li><a href="{{ url_for('main_page') }}">Main Page</a></li>
	<li><a href="{{ url_for('create_article')}}">Create Article</a></li>
	<li><a href="">Something...</a></li>
	<li><a href="">Something....</a></li>
{% endblock %}

{% block articles %}
	
	{% for el in pages.items %}
	
		<div class="articles__content">
			<div class="main__content">
			<h1>{{ el.title }}</h1>
			<p>{{ el.intro }}</p>
			<p>{{ el.date.date() }}</p>
			</div>
			<a class="more" href="/articles/{{ el.id }}">More</a>
		</div>

	{% endfor %}

	<div class="switch_but">
		<p><a href="">Page > </a></p>
	</div>
	
{% endblock %}