<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Authorization</title>
	<style type="text/css">
		.auth{
			width:300px;
			border: 2px solid black;
			margin: 7em auto;
			text-align:center;
		}
		#title_id{
			margin-bottom:10px;
		}
		#button{
			margin:10px;
		}

	</style>
</head>
<body>
	<div class="auth">
		<h1>X-Auth-User</h1>
		<p>ID:</p>
		<form method="post">
			<input type="text" name="title_id" id="title_id">
			<input type="submit" name="button" id="button" value="Authorization">
		</form>
	</div>

</body>
</html>