{% extends "main_page.html" %}
{% block contact %}
<style>
	
</style>
<div class="container">
	<h1 style="color:white;">Contact me</h1>
	<div style="text-align: center">
		<h2 style="color:yellow; text-decoration: none; "><a href="https://vk.com/m.tolstov2000">Vk.com</a></h2>
		<h2 style="color:yellow; text-decoration: none; "><a href="https://github.com/makxi007">GitHub</a></h2>
		<h2 style="color:yellow; text-decoration: none; "><a href="{{ url_for('home_page') }}">To Main Page</a></h2>
	</div>
	
</div>
{% endblock %}